<% include ./partials/header %>

<div class="ui main text container">
    <div class="ui huge header">RESTful Blog App</div>
      <div class="ui top attached segment">
          <div class="ui divided items">
              <% blogs.forEach(function(blog){ %>
                    <div class="item">
                        <div class="ui medium round image">
                           <img src="<%= blog.image %>"> 
                        </div>
                        <div class="content">
                            <a class="header" href="/blogs/<%= blog._id%>"><%= blog.title %></a>
                            <div class="meta"> 
                                <span><%= blog.created.toString() %></span>
                            </div>
                            <div class="description">
                                <p><%- blog.body.substring(0, 135) %>...</p>
                            </div>
                            <div class="extra">
                                <a href="/blogs/<%= blog._id%>" class="ui floated inverted green button">
                                    Read more  <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                    </div>
                </div>
            <% }); %>
          </div>
      </div>    
</div>



<% include ./partials/footer %>